[submodule "vault"]
	path = vault
	url = https://github.com/blitzy-public-samples/vault.git
[submodule "opentelemetry"]
	path = opentelemetry
	url = https://github.com/blitzy-public-samples/opentelemetry-collector.git
[submodule "kubernetes"]
	path = kubernetes
	url = https://github.com/blitzy-public-samples/kubernetes.git
