[submodule "vault"]
	path = vault
	url = git@github.com:hashicorp/vault.git
[submodule "opentelemetry"]
	path = opentelemetry
	url = git@github.com:open-telemetry/opentelemetry-collector.git
[submodule "kubernetes"]
	path = kubernetes
	url = git@github.com:kubernetes/kubernetes.git
[submodule "gitlab"]
	path = gitlab
	url = https://gitlab.com/gitlab-org/gitlab.git
